.navbar {
    position: fixed; /* Fija el NavBar en la parte superior */
    top: 0;
    left: 0;
    width: 100%; /* Asegura que ocupe todo el ancho de la pantalla */
    z-index: 1000; /* Mantiene el NavBar sobre el contenido */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f9e89b;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    overflow: hidden; /* Previene que el contenido se salga del contenedor */
  }
  
  .logo {
    width: 40px; /* Ajusta el tamaño del logo */
    height: auto; /* La altura se ajustará automáticamente */
  }
  
  .menu {
    display: flex;
    justify-content: space-around; /* Distribuye los elementos de manera uniforme */
    flex-wrap: wrap; /* Permite que los elementos bajen a la siguiente línea si es necesario */
    width: 100%; /* Asegura que el menú ocupe todo el ancho disponible */
  }
  
  .menu a {
    margin: 0 10px; /* Reduce el margen lateral */
    text-decoration: none;
    color: #5e4e34;
    font-weight: bold;
  }
  
  .menu a:hover {
    color: #d4a961;
  }
  
  /* Media query para pantallas más pequeñas */
  @media (max-width: 768px) {
    .menu {
      flex-direction: column; /* Coloca los elementos uno debajo del otro en pantallas pequeñas */
      align-items: center;
    }
  
    .menu a {
      margin: 10px 0; /* Ajusta el margen en pantallas pequeñas */
    }
  }