.auth-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  margin-top: 80px; /* Añadir margen superior para compensar el NavBar */
}

.login-form {
  margin-right: 140px; /* Aumenta el espacio entre login y register */
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}
