.contact-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 6rem 0rem;
}

.contact-form-container input {
  margin-bottom: 1rem; /* Espacio entre el input y el textarea */
}
