/* Estilos para la página principal */
.Home_principal {
  min-height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la pantalla */
  width: 85vw; /* Ancho del contenedor */
  max-width: 1900px; /* Ancho máximo para pantallas grandes */
  margin: 0rem auto; /* Centrado horizontal */
}
