/* Login.css */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura completa para centrar el contenedor */
}

.login-form {
  width: 45%; /* Ancho del formulario */
  background-color: #efe4b0; /* Color de fondo del formulario */
  color: #fff; /* Color del texto */
  padding: 20px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Sombra suave */
}

h2 {
  text-align: center; /* Centrar el título */
  margin-bottom: 20px; /* Margen inferior */
}

form div {
  margin-bottom: 15px; /* Espacio entre los campos del formulario */
}

label {
  display: block; /* Bloque para que el label ocupe toda la línea */
  margin-bottom: 5px; /* Margen inferior */
  color: #fff; /* Color del texto de la etiqueta */
}

input {
  width: 100%; /* Ancho completo para los inputs */
  padding: 10px; /* Espaciado interno de los inputs */
  border: 1px solid #cfbebe; /* Borde gris claro */
  border-radius: 5px; /* Bordes redondeados para los inputs */
  background: #fff; /* Fondo blanco para los inputs */
}

.auth-button {
  width: 100%; /* Ancho completo para el botón */
  padding: 10px; /* Espaciado interno del botón */
  background-color: #fff; /* Color de fondo del botón */
  color: #000; /* Color del texto del botón */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados para el botón */
  cursor: pointer; /* Cursor de mano al pasar sobre el botón */
}

.auth-button:hover {
  background-color: rgb(253, 219, 68); /* Color de fondo del botón al pasar el mouse */
}

p {
  text-align: center; /* Centrar texto */
  color: #fff; /* Color del texto del párrafo */
}
