/* Login.css */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  width: 45%;
  background-color: #efe4b0;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

input[type='text'],
input[type='email'],
input[type='password'],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #cfbebe;
  border-radius: 5px;
  background: #fff;
  color: #000 !important; /* Asegúrate de que el texto sea negro */
}

.auth-button {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.auth-button:hover {
  background-color: rgb(253, 219, 68);
}

p {
  text-align: center;
  color: #fff;
}
