/* Contenedor principal del NavBar */
.navbar-container {
  display: flex;
  align-items: stretch; /* Cambiado de center a stretch */
  justify-content: space-between;
  min-height: 110px;
  width: 100%;
  position: relative;
}

/* Lado izquierdo */
.navbar-left {
  width: 38.5%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

/* Lado derecho */
.navbar-right {
  width: 61.5%;
  background-color: #efe4b0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  padding-left: 20px;
}

/* Enlaces y botón dentro del lado derecho del NavBar */
.navbar-right a {
  margin-right: 3rem;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
}

.navbar-right a:last-child {
  margin-right: 0;
}

/* Dropdown Menu */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  font-size: 1.1rem;
  font-weight: 600;
  color: black;
  text-decoration: none;
  cursor: pointer;
  margin-right: 3rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0px;
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #efe4b0;
}

.dropdown:hover .dropdown-content {
  display: block;
}
