.profile-page {
  padding-top: 150px; /* Espacio para el NavBar */
  text-align: center;
}

.profile-container {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-box {
  background-color: #efe4b0; /* Fondo oscuro */
  padding: 20px;
  border-radius: 10px;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.profile-pic-name {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-name {
  font-size: 20px;
}

.update-option {
  text-align: left;
  margin-top: 10px;
}

.update-button {
  padding: 8px 12px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.update-button:hover {
  background-color: rgb(253, 219, 68);
}

.profile-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.profile-detail p {
  margin: 0;
}

.update-form {
  background-color: #333; /* Fondo oscuro para el formulario */
  padding: 15px; /* Espaciado interno */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra */
  width: 300px; /* Ancho del formulario */
  position: absolute; /* Para posicionarlo a la derecha */
  right: 5%; /* Alineación a la derecha */
  top: 20%; /* Alineación desde la parte superior */
  transform: translateY(50px); /* Espaciado desde el perfil */
  z-index: 10; /* Asegura que esté por encima de otros elementos */
}

.update-form input {
  width: 100%; /* Que los inputs ocupen todo el ancho del formulario */
  margin-bottom: 10px; /* Espacio entre inputs */
  padding: 8px; /* Espaciado interno de los inputs */
  border: 1px solid #555; /* Borde de los inputs */
  border-radius: 5px; /* Bordes redondeados de los inputs */
}

.submit-button {
  padding: 5px 10px;
  background-color: #ffffff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: rgb(253, 219, 68);
}

.perfil-background-container {
  position: absolute;
  bottom: 0px;
  right: -170px;
  z-index: -2;
  max-width: 700px;
  opacity: 50%;
}
