.user-management-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  background-color: #ffffff; /* Fondo similar a la página de perfil */
  border-radius: 10px;
  text-align: center;
  padding-top: 50px; /* Espacio para el NavBar */
}

h1,
h2 {
  color: white; /* Variante de color para títulos */
  margin-bottom: 20px;
}

/* Específico de formularios de esta página */
.form {
  background-color: #efe4b0; /* Fondo oscuro */
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #555;
  border-radius: 5px;
  font-size: 1rem;
}

.form button {
  padding: 10px 15px;
  background-color: #ffffff;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.form button:hover {
  background-color: rgb(253, 219, 68);
}
