.profile-page {
    padding-top: 150px; /* Espacio para el NavBar */
    text-align: center;
  }
  
  .profile-container {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .profile-box {
    background-color: #222; /* Fondo oscuro */
    padding: 20px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .profile-pic-name {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .profile-name {
    font-size: 20px;
  }
  
  .update-option {
    text-align: left;
    margin-top: 10px;
  }
  
  .update-button {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .update-button:hover {
    background-color: #0056b3;
  }
  
  .profile-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .profile-detail p {
    margin: 0;
  }
  