/* Estilos globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Reem Kufi', sans-serif !important;
}

body {
  max-width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  height: auto;
}

/* Contenedor principal */
.App {
  max-width: 95vw;
}

@media (max-width: 800px) {
  .App {
    max-width: 95vw;
  }
}

/* Estilos para "about" */
.about-container {
  margin-top: 20rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-background-image-container {
  position: absolute;
  left: -150px;
  z-index: -2;
}

.about-section-image-container {
  flex: 0.9;
  margin-right: 1rem;
}

.about-section-text-container {
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

/* Títulos */
h1,
.primary-heading {
  font-size: clamp(2rem, 5vw, 4rem);
  color: #000000;
  max-width: 600px;
  text-align: center;
}

.secondary-heading {
  font-size: 42px;
  color: #4c4c4c;
  max-width: 600px;
  text-align: center;
}

.tertiary-heading {
  font-size: 36px;
  color: #4c4c4c;
  max-width: 600px;
}

.primary-subheading {
  color: #000000;
}

.primary-text {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 500px;
  color: rgb(124, 124, 124);
  margin: 1.5rem 0rem;
}

/* Estilos generales para formularios */
.contact-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 6rem 0rem;
}

.contact-form-container {
  background-color: #efe4b0;
  max-width: 800px;
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 50px;
}

.contact-form-container input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #d4a961;
  margin-bottom: 1rem; /* Espacio entre el input y el textarea */
}

.form-container {
  background-color: #fff4cc;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-group {
  flex-basis: 45%;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #5e4e34;
}

/* Botones */
button,
.primary-button,
.secondary-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

button {
  background-color: #d4a961;
  color: white;
}

button:hover {
  background-color: #a68140;
}

.primary-button {
  background-color: #fff;
  color: #000;
}

.primary-button:hover,
.secondary-button:hover {
  background-color: rgb(253, 219, 68);
}

/* Otros estilos */
.icono-profile {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

/* Estilos responsivos */
@media (max-width: 600px) {
  .contact-form-container {
    padding: 1rem;
  }
}
