/* src/App.css */

/* Exo thin font from Google */
@import url('https://fonts.googleapis.com/css?family=Exo:100');

/* Animations */
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

/* Main styles */
body {
  margin: 0;
  height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
  color: #999999;
  font:
    400 16px/1.5 exo,
    ubuntu,
    'segoe ui',
    helvetica,
    arial,
    sans-serif;
  text-align: center;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC')
    repeat 0 0;
  animation: bg-scrolling-reverse 0.92s infinite;
  animation-timing-function: linear;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #000; /* Fondo negro */
  color: #fff; /* Texto blanco */
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #333;
  border-radius: 5px;
  background: #222;
  color: #fff;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

p {
  text-align: center;
}
